<?xml version="1.0"?>
<!DOCTYPE tsung SYSTEM "/usr/share/tsung/tsung-1.0.dtd"[]>
<tsung loglevel="notice">
  <clients>
    <client host="localhost" use_controller_vm="true"/>
  </clients>

  <servers>
    <server host="<%=node["bigcouch_server"]%>" port="80" type="tcp"></server>
    <server host="<%=node["bigcouch_server"]%>" port="5984" type="tcp"></server>
  </servers>

  <load>

    <!-- 1 user/second for 5 minutes -->
    <arrivalphase phase="1" duration="5" unit="minute">
      <users interarrival="1" unit="second"></users>
    </arrivalphase>

    <!-- 10 users/second for 10 minutes -->
    <arrivalphase phase="2" duration="10" unit="minute">
      <users interarrival="0.1" unit="second"></users>
    </arrivalphase>

    <!-- ~85 users per second for 15 minutes -->
    <arrivalphase phase="3" duration="15" unit="minute">
      <users interarrival="0.01" unit="second"></users>
    </arrivalphase>

    <!-- 10 users/second for 25 minutes -->
    <arrivalphase phase="4" duration="25" unit="minute">
      <users interarrival="0.1" unit="second"></users>
    </arrivalphase>

    <!-- 1 user/second for 5 minutes -->
    <arrivalphase phase="5" duration="5" unit="minute">
      <users interarrival="1" unit="second"></users>
    </arrivalphase>

  </load>

  <options>

    <option type="ts_http" name="user_agent">
      <user_agent probability="100">easybib/tsung load test</user_agent>
    </option>

    <!-- darshan's lists -->
    <option name="file_server" id="listids" value="/home/ubuntu/.tsung/listids.csv" />

  </options>

  <sessions>
    <session name="cloudant/couchdb reply" probability="10" type="ts_http">

      <request>
        <http url="/" method="GET" version="1.1">
          <http_header name="cache-control" value="no-cache"/>
        </http>
      </request>

    </session>

    <session name="lists by user id" probability="50" type="ts_http">

      <!-- generate a random user id (this will lead to 404s, but that's alright) -->
      <setdynvars sourcetype="random_number" start="1" end="2000000">
        <var name="useridint" />
      </setdynvars>

      <request subst="true">
        <http url="/lists/_design/lists/_view/userid?key=%%_useridint%%&amp;include_docs=true" method="GET" version="1.1">
          <www_authenticate userid="<%=node["bigcouch_user"]%>" passwd="<%=node["bigcouch_pass"]%>"/>
          <http_header name="cache-control" value="no-cache"/>
        </http>
      </request>

      <request>
        <http url="/" method="GET" version="1.1">
          <http_header name="cache-control" value="no-cache"/>
        </http>
      </request>

    </session>

    <session name="get citation by listid [document key]" probability="40" type="ts_http">

      <setdynvars sourcetype="file" fileid="listids">
        <var name="listidstring" />
      </setdynvars>

      <request subst="true">
        <http url="/citations/%%_listidstring%%" method="GET" version="1.1">
          <www_authenticate userid="<%=node["bigcouch_user"]%>" passwd="<%=node["bigcouch_pass"]%>"/>
          <http_header name="cache-control" value="no-cache"/>
        </http>
      </request>

    </session>
  </sessions>
</tsung>
